div{
  width: 400px;
  display: flex;
  justify-content: space-between;
}
h1{
  text-align: center;
  color: rgb(3, 2, 2);
}
input text{
  color: rgb(73, 205, 209);
}
body{
  background-color: rgb(255, 255, 255);
}